$primary: hsl(240, 100%, 66%);
$gray: hsl(0, 0%, 75%);
$light: hsl(0, 0%, 95%);

$padding-sm: .5rem;
$padding-base: 1rem;
$padding-medium: 1.5rem;

$radius-base: .25rem;

$screen-small: 37.5rem;
$screen-medium: 56.25rem;