{% if href is defined and label is defined and label is not empty %}
<a
        class="button {{ modifier ?? 'button--transparent' }}"
        target="{{ target ?? '_self' }}"
        href="{{ href }}">
    {{ label }}
</a>
{% endif %}