{% set navigationItems = [
    {
        'title': 'Home',
        'url': '/',
    },
    {
        'title': 'About Us',
        'url': '/about'
    },
] %}

<nav>
    <ul>
        {% for navItem in navigationItems %}
            <li>
                <a href="{{ navItem.url }}">{{ navItem.title }}</a>
            </li>
        {% endfor %}

        {% if currentUser and currentUser.can('accessCp') %}
            <li>
                {% include 'components/button-link' with {
                    'href': cpUrl(),
                    'label': 'dashboard' | t(params = {'name': currentUser.friendlyName | capitalize}),
                } %}
            </li>
        {% endif %}
    </ul>
    {% set sites = craft.app.sites.getAllSites() %}
    <nav>
        {% for site in sites %}
            {% set isActive = currentSite.id is same as site.id %}
            <li>
                <a
                href="{{site.baseUrl}}"
                {% if isActive %}
                    aria-current="page"
                    class="lang-item lang-item--active"
                {% else %}
                    class="lang-item"
                {% endif %}
                >
                    {{ site.language | split('-') | first | upper }}
                </a>
            </li>
        {% endfor %}
    </nav>
</nav>